@font-face {
  font-family: 'ReadexPro';
  font-style: normal;
  font-display: auto;
  src: url('../../fonts/ReadexPro.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: auto;
  src: url('../../fonts/Alegreya.ttf') format('truetype');
  font-display: swap;
}
