$type-scale: (
  small: (
    // Minor third
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
  big: (
    // Augmented fourth
    300: 1rem,
    400: 1.25rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
  ),
);

:root {
  --font-size-300: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-400: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-500: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-600: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-700: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-800: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-900: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}
