{% extends "layouts/base.njk" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set peopleItems = collections.people %}

{% block content %}
  {% include "partials/page-header.njk" %}
  <article class="about">
    <div class="container">
      <div class="about__main">
        <h2>Un poco de información sobre mí.</h2>
        <div class="about__flex sec-1">
          <img src="/img/misc/profile-pic.jpg" alt="" class="profile-pic">
          <p>Desde pequeño he tenido interés por la tecnología y cómo funcionan las cosas. Como muchos niños y adolescentes de mi generación pasé mucho tiempo jugando video juegos (principalmente en Play Station 1 y Play Station 2, más las consolas portátiles de Nintendo) y siempre me fascinaban las visuales de los juegos que jugaba, desde una vista aerea de la ciudad de Midgard hasta los menu de los juegos de Pokemon. Tabién me fascinaba saber cómo se producían aquellas visuales y gráficas, cómo funcionaba el aparato que hacía y hace correr aquellos juegos. Claro, no voy a negar que dañé ciertos aparatos en casa al abrirlos y ver cómo eran por dentro.</p>
        </div>
        <div class="about__flex sec-2">
          <p>Eventualmente crecí, y con eso mis intereses se ampliaron. Empecé a tomar mucho interés en la parte que salía en la pantalla de lo que antes me interesaba. Los diseños de interface me empezaron a interesar y generar curiosidad, cómo interactuaban con la gente. Pero hasta ahí llegó la cuerda: curiosidad e interés. De vez en cuando abría Photoshop o Illustrator y hacía algún garabato o algún fondo de pantalla para la computadora o el teléfono, pero hasta ahí llegaba,  siempre curioso y siempre interesado, pero nunca dí el paso.</p>
          <img src="/img/misc/profile-pic.jpg" alt="tools-picture">
        </div>
        <div class="about__flex sec-3">
          <img src="/img/misc/profile-pic.jpg" alt="" class="profile-pic">
          <p>Una tarde, me preguntaron: "Rafa, ¿sabes hacer páginas web?". Por reflejo dije que sí, pesando que podía ganra algo de dinero extra. Inmediatamente hice lo que todo desarrollador hace: abrí Google, y busqué "Cómo hacer una página web?". La primera recomendación que leí fue la de empezar con WordPress (la versión gratuita) y empezar a familiarizarme con el ambiente, luego a darle con HTML, CSS y JavaScript. Gracias a YouTube y FreeCodeCamp, la puerta que se me abrió me dio la bienvenida a un mundo absurdamente amplio y variado que me atrapó y me enamoró. Ahora si: "Si hago sitios web" y me gusta, mucho.</p>
        </div>
        <div class="about__flex sec-4">
          <p>Mi objetivo principal es hacerle fácil el trabajo a mis clientes e cuanto a creación de conetenido se refiere, es decir: Tu enfocate en el manejo de tu compañía/marca (y creación de contenido en caso de ser un blog) que de el lado técnico me ecnargo yo. Ahora, no tengo un abanico súper amplio de las herramientas que uso pero las que tengo las puedo usar con bastante confianza. Entre ellas están:</p>
          <img src="/img/misc/profile-pic.jpg" alt="tools-picture">
        </div>
      </div>

    </div>
  </article>

  {% include "partials/cta.njk" %}
{% endblock %}