{% extends "layouts/base.njk" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% block content %}
  {% include "partials/page-header.njk" %}

  <article class="contact">
    <div class="container flow">
      <form>
        <label for="full-name">
          Full Name:
        </label>
        <input id="full-name" name="full-name" type="text" autocomplete="name" required/>
        <label for="email-address">
          Email Address:
        </label>
        <input id="email-address" name="email-address" type="email" autocomplete="email" required/>
        <label for="message">
          Message:
        </label>
        <textarea id="message" name="message" rows="5" cols="30" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </article>

{% endblock %}