{% extends "layouts/base.njk" %}

{% block content %}
  <div class="container flow">
    <article class="intro flex">
      <h1 class="intro__title">
          ¡Hola! <em>Soy <a href="/">Rafa</a>
        </em> y te ayudaré a crear sitios web rápidos, accesibles y atractivos.
        </h1>
      <p class="intro__summary">{{ intro.summary }}</p>
      <div class="intro__cta">
        <a href="{{ intro.mainCtaUrl }}" class="button btn-primary">{{ intro.mainCtaText }}</a>
        <a href="{{ intro.secondaryCtaUrl }}" class="button btn-secondary">{{ intro.secondaryCtaText }}</a>
      </div>
    </article>
  </div>

  {# Proyectos destacados #}
  {% include "partials/featured-work.njk" %}

  {# Lista corta de servicios #}
  {% include "partials/services-short.njk" %}

  {# Biografía corta #}
  {% include "partials/about-short.njk" %}

  {% set ctaContent = cta %}
  {% include "partials/cta.njk" %}

{% endblock %}