{% extends "layouts/base.njk" %}

{% block content %}
  <article class="intro">
    <div class="container flow">
      <div class="intro__headline">
        <h1 class="[ intro__heading ] [ weight-normal text-400 md:text-600 ]">
          ¡Hola! <em>Soy <a href="/">Rafa</a>
          </em> y te ayudaré a crear sitios web rápidos, accesibles y atractivos.
        </h1>
        <p class="intro__summary">{{ intro.summary }}</p>
        <div class="intro__cta">
          <a href="{{ intro.mainCtaUrl }}" class="button">{{ intro.mainCtaText }}</a>
          <a href="{{ intro.secondaryCtaUrl }}" class="button">{{ intro.secondaryCtaText }}</a>
        </div>
      </div>
    </div>
  </article>

  {# Proyectos destacados #}
  {% include "partials/featured-work.njk" %}

  {# Lista corta de servicios #}
  {% include "partials/services-short.njk" %}

  {# Biografía corta #}
  {% include "partials/about-short.njk" %}

  {% set ctaContent = cta %}
  {% include "partials/cta.njk" %}

{% endblock %}