{% extends "layouts/base.njk" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% block content %}
  {% include "partials/page-header.njk" %}
  <article class="services">
    <div class="container flow">
      <ul class="services__grid">
        <li>
          <h3>Diseño / Rediseño Web</h3>
          <p>Si tienes alguna idea puedo empezar a hacer bocetos y modelos de cómo se vería tu sitio web. También, si ya tienes algo hecho, puedo revisarlo y ver qué se puede hacer.</p>
        </li>
        <li>
          <h3>Sitio Web Profesional</h3>
          <p>Me encargaré de mostrar de qué va tu compañía o marca y así enviar el mensaje correcto a tus futuros clientes a través de un sitio web profesional de buena calidad.</p>
        </li>
        <li>
          <h3>Desarrollo Personalizado</h3>
          <p>Usando tecnologías óptimas (desde HTML hasta un sistema de gesitón de contenido como WordPress) crearé un sitio web que se adapte a tus objetivos y necesidades.</p>
        </li>
        <li>
          <h3>Pruebas de rendimiento, SEO y accesibilidad</h3>
          <p>Al asegurarme que tu sitio web cumpla con los estándares de accesibilidad y se vea bien en pantallas de diversos tamaños estaré asegurando que mejore el SEO del sitio web.</p>
        </li>
        <li>
          <h3>Servicios de SEO</h3>
          <p>Por medio del diseño, desarrollo, uso de redes sociales y otras herramientas a mi alcance me encargaré de que tu sitio web se vaya posicionando en los mejores lugares de los distintos motores de búsqueda.</p>
        </li>
        <li>
          <h3>Soporte Continuo</h3>
          <p>Estaré disponible para algún cambio o revisión que se te ocurra y te ayudaré con ello.</p>
        </li>
      </ul>
    </div>
  </article>

  {% include "partials/cta.njk" %}
{% endblock %}