.container {
  // padding: 0 1.5rem;
  // max-width: 62.5rem;
  // margin: 0 auto;

  width: 90vw;
  width: clamp(16rem, 93vw, 75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  position: relative;
}
