<article class="home-section about-short">
  <div class="container flow">
    <div class="about-short__social">
      <ul class="about-short__links">
        <li>
          <a href="#" target="_blank" rel="noreferrer">Pensamientos y comentarios cortos</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noreferrer">Repositorio de mis proyectos</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noreferrer">Pequeña muestra de mis proyectos</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noreferrer">Perfil profesional</a>
        </li>
      </ul>
    </div>
    <div class="about-short__text tabs">
      <div role="tablist" aria-label="Short Information">
        <button role="tab"
            aria-selected="true"
            aria-controls="personal-tab"
            id="personal-short">
          Personal
        </button>
        <button role="tab"
            aria-selected="false"
            aria-controls="professional-tab"
            id="professional-tab"
            tabindex="-1">
          Profesional
        </button>
      </div>
      <div tabindex="0" role="tabpanel" id="personal-tab" aria-labelledby="Personal">
        <p>
          "Rafa, ¿puedes hacer un sitio web?", ésa pregunta me agarró por sopresa y por reflejo dije "Sí". En aquel entonces, cuando dije que si, no sabía cómo usar un editor de código (aunque creo que el editor de texto que trae la computadora por defecto cuenta, ¿verdad?), y contaba con un conocimiento básico de PhotoShop e Illustrator (hacer fondos de pantalla y tarjetas de cumpleaños también cuenta, ¿no?). Inmediatamente abrí Google y busqué "Cómo hacer sitios web", y así se me abrió un mundo de posibilidades más amplio de lo que esperaba y que me emocionó más de lo que esperaba.
        </p>
        <p>
          Mi primera experiencia fue con WordPress (la versión gratuita que ofrece un dominio <code>.wordpress.com</code>, que fue la primera que se me atravesó), y a partir de ahí, y con ayuda de YouTube y FreeCodeCamp me fui educando más y más hasta llegar a donde estoy ahora mismo.
        </p>
        <a href="/blog/">Blog</a>
      </div>
      <div tabindex="0" role="tabpanel" id="professional-tab" aria-labelledby="Profesional" hidden="">
        <p>
        Si estás buscando palabras claves y esas cosas, mi conocimiento y capacidades cubre lo siguiente: <b>HTML semántico, CSS, Sass, SCSS, JavaScript, WordpPress, Diseño Web Responsivo, Accesibilidad (a11y), Eleventy (o 11ty), SEO.</b> Y hasta ahí llego. Para más información puedes ver mi <a href="#">Perfil de LinkedIn</a> o mi <a href="#">Currículum Vitae</a>.
      </p>

      </div>
    </div>
    <a href="/sobre-mi/" class="button">Aquí puedes saber más sobre mi</a>
  </div>
</article>