<article class="home-section featured-work" id="work-section">
  <div class="container flow">
    <header>
      <h2
          class="home-section__title"
          data-highlight="dark">
        {{ featuredWork.title }}
      </h2>
      <p class="home-section__summary">
        {{ featuredWork.summary }}
      </p>
    </header>
    <ul role="list" class="featured-work__grid grid">
      {% for item in collections.featuredWork %}
        <li>
          <a
        href="{{ item.url }}"
        aria-label="See {{ item.data.title }}"
        class="featured-work__item frame"
        data-frame="quaternary">
            <img
          src="{{ item.data.hero.image }}"
          alt="{{ item.data.hero.imageAlt }}"
          loading="lazy"
          class="radius"/>
          </a>
        </li>
      {% endfor %}
    </ul>

    <a href="/proyectos/" class="home__button button">See more work</a>
  </div>
</article>