<article class="home-section services">
  <div class="container flow">
    <h2>Así es como puedo ayudarte:</h2>
    <ul role='list' class="services__grid grid">
      <li>
        <article class="services__item">
          <img src="../../img/icons/time.svg" alt="Icono de un reloj">
          <h3>Ahórra tu tiempo</h3>
          <p>No es necesario que lo sepas todo. ¡Puedo crearte un sitio web personalizado que realmente refleje lo que si sabes mientras te enfocas en las cosas que haces mejor!</p>
        </article>
      </li>
      <li>
        <article class="services__item">
          <img src="../../img/icons/time.svg" alt="Icono de un reloj">
          <h3>Sitio Web Adaptable</h3>
          <p>Me encargaré de mostrar de qué va tu compañía o marca y así enviar el mensaje correcto a tus futuros clientes a través de un sitio web profesional de buena calidad que se adapte a tus necesidades.</p>
        </article>
      </li>
      <li>
        <article class="services__item">
          <img src="../../img/icons/time.svg" alt="Icono de un reloj">
          <h3>Mejora</h3>
          <p>La mayoría de los sitios web tienen un rendimiento deficiente porque no se conectan con sus visitantes. No dejo que mis clientes se vayan sin ayudarlos a desarrollar una estrategia de captura de clientes potenciales altamente dirigida para convertir a los visitantes del sitio web en clientes potenciales.</p>
        </article>
      </li>
    </ul>
  </div>
</article>