<a href="#main-content" id="skiplink" tabindex="0" class="skip-link">Omitir e ir al contenido principal</a>
<header role="banner" class="site-header">
  <div class="wrapper">
    <div class="site-header__inner">
      <a href="/" aria-label="{{ site.name }} - Inicio" class="site-header__brand">
        {% include "partials/logo.svg" %}
      </a>
      <nav class="nav site-header__nav" aria-label="Primary">
        <ul class="nav__list" role="list">
          {% for item in navigation.items %}
            <li>
              <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>