<footer class="site-footer">
  <p>Encuéntrame en:</p>
  <ul role="list">
    <li>
      <a href="#" target="_blank" rel="noreferrer">Twitter</a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noreferrer">Github</a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noreferrer">Instagram</a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noreferrer">LinkedIn</a>
    </li>
  </ul>
  <p>&copy; 2021 Rafael Calvo</p>
  <p>Hecho con 💖 y 🥤. Alojado en <a href="#" target="_blank" rel="noreferrer">Netlify</a>. El código es público en <a href="https://github.com/" target="_blank" rel="noreferrer">GitHub</a>. </p>
</footer>